# Decorators

## **Kwargs in python

a = 23 - int (any number without decimal)
b = 45.7 - float (any number with decimal)
c = "example" - str (contains characters, numbers and symbol)
d = True / False - Boolean
e = [1, 2, 3, False, "Example"] - list
f = (4, 5.6, True, "Example") - tuple
g = {key1: value1, key2: value2, ...} - dict
h = {value1, value2, value3, ...} - set will store only unique values

**kwargs - acts likes a dictinory

In [3]:
a = {
    "name": "Utkarsh",
    "age": 28,
    "salary": 15000
}

In [4]:
type(a)

dict

In [5]:
a.keys()

dict_keys(['name', 'age', 'salary'])

In [6]:
a.values()

dict_values(['Utkarsh', 28, 15000])

In [7]:
a.items()

dict_items([('name', 'Utkarsh'), ('age', 28), ('salary', 15000)])

In [8]:
for key, value in a.items():
    print(f"{key} : {value}")

name : Utkarsh
age : 28
salary : 15000

In [9]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [10]:
function(name="sarthak",age=23)

{'name': 'sarthak', 'age': 23}
<class 'dict'>
name : sarthak
age : 23

In [11]:
function(emp_id=101, name="Aditi", dept="HR", married=True)

{'emp_id': 101, 'name': 'Aditi', 'dept': 'HR', 'married': True}
<class 'dict'>
emp_id : 101
name : Aditi
dept : HR
married : True

# Example consider a restauraunt menu, condier menu is provided with taxes included in a dictionary

In [12]:
menu = {
    "burger": 120,
    "sandwich": 80,
    "fries": 60,
    "pasta": 200,
    "pizza": 300
}

In [13]:
menu.get("burger")

120

In [14]:
print(menu.get("maggie"))

None

In [19]:
def hotel_bill(table_no, **kwargs):
    # print table number
    print(f"Table number - {table_no}")
    # Intialize total amount to 0
    amt = 0
    # apply for loop on kwargs
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal = price*qty
            amt += subtotal
            print(f"Food item - {food}, qty- {qty}, price - {price} INR, subtotal - {subtotal} INR")
    # Show the final bill
    print(f"Final Bill is : {amt} INR")
    return amt

In [20]:
c1 = hotel_bill(
    table_no=1,
    burger=1,
    fries=2
)

Table number - 1
Food item - burger, qty- 1, price - 120 INR, subtotal - 120 INR
Food item - fries, qty- 2, price - 60 INR, subtotal - 120 INR
Final Bill is : 240 INR

In [21]:
c1

240

In [22]:
c2 = hotel_bill(
    table_no=2,
    sandwich = 4,
    pizza = 1,
    fries = 5
)

Table number - 2
Food item - sandwich, qty- 4, price - 80 INR, subtotal - 320 INR
Food item - pizza, qty- 1, price - 300 INR, subtotal - 300 INR
Food item - fries, qty- 5, price - 60 INR, subtotal - 300 INR
Final Bill is : 920 INR

In [23]:
c2

920